.custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.custom-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    gap: 10px;
}